:root {
    --primary: #39618A;
    --secondary: #395675;
    --grey: #CFD7DF;
    --success: #507F1B;
    --alert: #E78D1C;
    --error: #DD4848;
    --footer-height: 200px;
    --header-height: 80px;
}

p {
    font-size: 1em;
    white-space: pre-wrap;
}

h1 {
    font-size: 1.1em;
    font-weight: bold;
}

p.mod {
    font-weight: bold;
    font-style: italic;
}

header {
    background-color: var(--primary);
    box-sizing: border-box;
    height: var(--header-height);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: var(--primary);
    box-sizing: border-box;
    height: var(--footer-height);
    padding-top: 20px;
}

main{
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

img {
    display: block;
}

.menu-item {
    height: 40px;
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
}
.menu-item:hover {
    background-color: var(--secondary);
}

.button-sm, .button-md {
    color: white;
    border: var(--primary) 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, serif;
    cursor: pointer;
}

.button-sm {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
}

.button-sm.active, .button-md.active {
    background-color: var(--primary);
}

.button-sm.active:focus, .button-md.active:focus{
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.button-sm.disabled,.button-md.disabled {
    background-color: var(--grey);
    border-color: var(--grey);

}

.button-sm.disabled:focus, .button-md.disabled:focus{
    background-color: var(--grey);
    border-color: var(--grey);
}

.custom-container {
    border: var(--grey) 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}

.icon {
    max-width: 32px;
    max-height: 32px;
}